

.common-layout{
    
   
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    padding: 1.2rem;

    @media (max-width: 478px) {
        padding: 1rem;
      }
}